# Pandas

## Series

In [6]:
import numpy as np
import pandas as pd

In [9]:
data=pd.Series([0.25,.10,.50,3.2,5])
data

0    0.25
1    0.10
2    0.50
3    3.20
4    5.00
dtype: float64

In [10]:
data.values

array([0.25, 0.1 , 0.5 , 3.2 , 5.  ])

In [16]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
data[1]

0.1

In [20]:
data[1:2]

1    0.1
dtype: float64

In [21]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [22]:
data['b']

0.5

In [24]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [36]:
data[5]

0.5

## Series as Special Dictionary

In [53]:
States_dict =   { 'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
States = pd.Series(States_dict)
States

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [35]:
States['New York':'Illinois']

New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

## Constructing Series as Object

In [37]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [38]:
pd.Series(7, index=[100, 200, 300])

100    7
200    7
300    7
dtype: int64

In [39]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [40]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [41]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [54]:
population = pd.DataFrame({'States':States,'Area':area})
population

              States    Area
California  38332521  423967
Texas       26448193  695662
New York    19651127  141297
Florida     19552860  170312
Illinois    12882135  149995

In [56]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [58]:
population.columns

Index(['States', 'Area'], dtype='object')

In [61]:
population['States']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: States, dtype: int64

In [62]:
pd.DataFrame(States, columns=['States'])

              States
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [63]:
data = [{'a': i, 'b': 3 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  3
2  2  6

In [65]:
pd.DataFrame([{'a': 3, 'b': 5}, {'b': 5, 'c': 4}])

     a  b    c
0  3.0  5  NaN
1  NaN  5  4.0

In [67]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.393094  0.764388
b  0.844015  0.200543
c  0.640687  0.412365

### The Panda Index Object

In [69]:
ind = pd.Index([2, 3, 5, 7, 41])
ind

Int64Index([2, 3, 5, 7, 41], dtype='int64')

In [71]:
ind[4]

41

In [73]:
ind[::3]

Int64Index([2, 7], dtype='int64')

In [75]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

### Union,intersection, Symmetric &Difference of indices.

In [76]:
indA = pd.Index([1, 3, 5, 7, 9]) #we created two different indices
indB = pd.Index([2, 3, 5, 7, 11])

In [77]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [79]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [80]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')